{% extends "base.html" %}

{% block body %}

<body>

  <div style="float: center;">
		<br>
	
		<div>
		<h1>Thank you for your purchase!</h1>
		<h3>other games you might be interesed in...</h3>
		<br>
		</div>

		<div class="img">	
			<img src="../static/ZELDA1.jpg">
			<div class="desc">The Legend of Zelda: Breath of the Wild
			</div>
		</div>

		<div class="img">	
			<img src="../static/mario2.jpg">
			<div class="desc"><br>Super Mario Odyssey
			</div>
		</div>

		<div class="img">	
			<img src="../static/dark_soul.jpg">
			<div class="desc"><br>Dark Soul
			</div>
		</div>
  
  </div>

</body>
{% endblock %}

</html>