<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WELCOME TO GAME WORLD!</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style>

    div.img 
    {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    div.img img
    {
        width: 100%;
        height: 160px;
    }
    div.desc
    {
        padding: 15px;
        text-align: center;
    }
  </style>

</head>
<body>
      
<header>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
    <img style="max-width: 150px; margin-top: -15px;" src="../static/logo.jpg">
    </a>
  </div>

  <div class="container-fluid">

    <a href="/shopping"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-bottom: 5px; height: 47px; margin-right: 15px">
      <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>CART
    </button></a>
    
    <ul class="nav navbar-nav navbar-right">

      <div style="margin-right: 10px; margin-left: 15px; margin-top: 15px; margin-bottom: 5px;" class="container-fluid">
        <a href="/login"> <span class="glyphicon glyphicon-log-in"></span> Login</a>&nbsp;&nbsp;&nbsp;
        <a href="/sign_up" ><span class="glyphicon glyphicon-pencil"></span> Sign up</a>
      </div>

</header>

    <div class="img">
      <img src="../static/ZELDA1.jpg">
      <div class="desc">The Legend of Zelda: Breath of the Wild is an action-adventure game developed and published by Nintendo.Breath of the Wild is an action-adventure game set in an open world environment where players are tasked with exploring the kingdom of Hyrule while controlling Link. <br>
      <button>Add to cart</button>
      </div>
    </div>

    <div class="img">
      <img src="../static/mario2.jpg">
      <div class="desc"><br>Super Mario Odyssey is a platform game in which players control Mario as he travels across many different worlds, known as "Kingdoms", on the Odyssey, a hat-shaped ship, to rescue Princess Peach from Bowser, who plans to forcibly  marry her.<br>
      <button onclick="cart()">Add to cart</button>
      </div>
    </div>
  
    <div class="img">
      <img src="../static/dark_soul.jpg">
      <div class="desc"><br>Dark souls was released in September 2011 and worldwide by in the following month. Dark Souls takes place in the fictional kingdom of Lordran, where players assume the role of a cursed undead character who begins a pilgrimage to discover the fate of their kind.
      <button href="login.html"type="button">Add to cart</button>
      </div>
    </div>

    <div class="img">
      <img src="../static/gta5.jpg">
      <div class="desc">GTA V set within the fictional state of San Andreas, based on Southern California, the single-player story follows three criminals and their efforts to commit heists while under pressure from a government agency.GTA V was released in November 2014 for PlayStation 4 and Xbox One.
      <button href="login.html"type="button">Add to cart</button>
      </div>
    </div>

    <div class="img">
      <img src="../static/witcher3.jpg">
      <div class="desc">The Witcher 3: Wild Hunt is a 2015 action role-playing game developed and published by CD Projekt.players control protagonist Geralt of Rivia, a monster hunter known as a witcher, who is looking for his missing adopted daughter on the run from the Wild Hunt<br>
      <button href="login.html"type="button">Add to cart</button>
      </div>
    </div>

    <div class="img">
      <img src="../static/assassin1.jpg">
      <div class="desc">Assassin's Creed IV: Black Flag is an action-adventure video game.The main story is set in the 18th century Caribbean during the Golden Age of Piracy.The attempted establishment of a Republic of Pirates utopia (free from either British or Spanish rule) is a significant plot element. <br>
      <button href="login.html"type="button">Add to cart</button>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>