<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="../static/sign_up.css"/>
</head>

    <form action="">
    <div id="signup_frame">
        <p><label class="label_input">Username:</label><input type="text" id="Username" class="text_field"/></p>
        <p><label class="label_input">Password: </label><input type="password" id="Password" class="text_field"></p>
        <p><label class="label_input">re-Password: </label><input type="password" id="re-Password" class="text_field"></p>
        <p><label class="label_input">e-mail: </label><input type="text" id="e-mail" class="text_field"/></p>
        <button><a href="/login">okay!</a></button>
    </div>
</div>
</form>
</body>
</html>